*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.canBtn {
    background: transparent; 
    border: none;
    font-weight: bold;
    cursor: pointer;
}

body {
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sections {
    background-color: whitesmoke;
    color: black;
}

#birthady-saved-div {
    display: flex;
    flex-direction: column;
}

.birtbday-details-div {
    display: flex;
    align-items: center;
}

.buttons {
    background-color: black;
    cursor: pointer;
    color: whitesmoke;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#clearBtn {
    width: 100%;
}

#addBtn {
    width: fit-content;
}

#formSection {
    display: flex;
    flex-direction: column;
}

.inputDiv {
    display: flex;
    align-items: center;
}

.labels {
    font-weight: bold;
}

.inputDiv input[type="text"], .inputDiv input[type="number"] {
    border: 0.5px solid black;
}

.inputDiv input[type="number"]::-webkit-inner-spin-button, .inputDiv input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

.profile {
    border-radius: 100%;
}

@media all and (max-width: 767px) {

    body {
        padding: 0.5rem;
    }

    .sections {
        width: 100%;
        padding: 0.75rem;
        margin: 0.75rem 0;
    }

    #title {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    #birthady-saved-div {
        gap: 0.5rem 0;
        margin-bottom: 1rem;
    }

    .birtbday-details-div {
        gap: 0 0.5rem;
    }

    .bitName {
        font-size: 0.75rem;
    }

    .bitYear {
        font-size: 0.75rem;
    }

    .buttons {
        font-size: 1rem;
        padding: 0.75rem 1.25rem;
    }

    #formSection {
        gap: 0.75rem 0;
    }

    .labels {
        font-size: 1rem;
    }

    .inputDiv {
        gap: 0 0.35rem;
    }

    .inputDiv input {
        padding: 0.20rem 0.5rem;
        font-size: 0.75rem;
    }

    .profile {
        width: 2.5rem;
        height: 2.5rem;
    }

    .canBtn {
        font-size: 1.5rem;
    }
}

@media all and (min-width:  768px) and (max-width: 1023px) {
    body {
        padding: 1rem;
    }

    .sections {
        width: 85%;
        padding: 2rem;
        margin: 2.5rem auto;
    }

    #title {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    #birthady-saved-div {
        gap: 1rem 0;
        margin-bottom: 2rem;
    }

    .birtbday-details-div {
        gap: 0 1.25rem;
    }

    .bitName {
        font-size: 1.5rem;
    }

    .bitYear {
        font-size: 1rem;
    }

    .buttons {
        font-size: 1.5rem;
        padding: 1rem 1.75rem;
    }

    #formSection {
        gap: 1.25rem 0;
    }

    .labels {
        font-size: 1.5rem;
    }

    .inputDiv {
        gap: 0 0.75rem;
    }

    .inputDiv input {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }

    .profile {
        width: 4.5rem;
        height: 4.5rem;
    }

    .canBtn {
        font-size: 2rem;
    }
}

@media all and (min-width: 1024px) {
    .sections {
        width: 40%;
        padding: 1.5rem;
    }

    #detSection {
        margin: 3rem auto;
    }
    
    #formSection {
        margin: 1rem auto;
    }

    #title {
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
    }

    #birthady-saved-div {
        gap: 0.75rem;
        margin-bottom: 1.5rem;
    }

    .birtbday-details-div {
        gap: 0 1rem;
    }

    .bitName {
        font-size: 1.25rem;
    }

    .bitYear {
        font-size: 1rem;
    }

    .buttons {
        font-size: 1.25rem;
        padding: 1rem 1.5rem;
    }

    #formSection {
        gap: 1rem 0;
    }

    .labels {
        font-size: 1.25rem;
    }

    .inputDiv {
        gap: 0 0.5rem;
    }

    .inputDiv input {
        padding: 0.25rem 0.5rem;
        font-size: 1rem;
    }

    .profile {
        width: 3.5rem;
        height: 3.5rem;
    }

    .canBtn {
        font-size: 1.5rem;
    }
}